body>div{
    margin: 5px auto;
    padding-left: 5px;
    width: 95vw;
    min-height:5vh;
}
#file{width:45vw}
#monitor{
    min-height:45vh;
    border: 1px solid red;
    white-space: pre-wrap;
}
#tools>button, label{
    background: rgba(185, 185, 185, 1);
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}
#tools>button:hover, #lab:hover{background: rgba(220, 221, 221, 1);}
#tools>button:active, #lab:active{background: rgba(95, 95, 97, 1);}
#code{
    display: block;
    margin: 5px auto;
    width:95vw;
    height:45vh;
}
#tools #run{background: green;}
#tools #run.err{background: red;}
#load{display: none;}
#tools .active, #tools .active:hover{background: green;}
#keyboard {
    background: rgb(6, 5, 107);
    position: absolute;
    top: 10vh;
    left: 80vw;
    width: 162px;
    min_height: 20vh;
    border: 1px solid black;
}
#keyboard button {
    border-radius:5px;
    margin: 3px;
    padding: 3px;
    margin-bottom:4px;
    box-shadow: 3px 3px 2px 2px; 
}
@media only screen and (max-device-width: 480px) {
  #keyboard{
    left: 50vw;
    width: 46vw;
  }
}
